.breadcrumb ul {
  list-style: none;
  display: flex;
}

.breadcrumb ul li {
  margin-right: 10px;
}

.breadcrumb ul li a {
  text-decoration: none;
  color: blue;
}

.breadcrumb ul li::after {
  content: ">";
  margin-left: 10px;
}

.breadcrumb ul li:last-child::after {
  content: "";
}
