.chevron-path {
  stroke: var(--color-btn-darkblue);
  stroke-linecap: round;
  fill: none;
}

.chevron-path:nth-child(1) {
  stroke-width: 2px; /* لایه اول */
}

.chevron-path:nth-child(2) {
  stroke-width: 1.5px; /* لایه دوم */
  transform: translateX(2px); /* فاصله ۲ پیکسل بین لایه‌ها */
}

.chevron-path:nth-child(3) {
  stroke-width: 1px; /* لایه سوم */
  transform: translateX(4px); /* فاصله بیشتر بین لایه‌ها */
}
