/* استایل‌های صفحه اصلی */
.homepage {
  height: 75vh;
  background-size: cover;
  background-position: center;
  color: var(--color-bg-main);
  text-align: justify !important;
}

.homepage section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

.homepage h1 {
  margin-top: 30px;
  font-size: 2.4rem !important;
  line-height: 3;
  text-transform: uppercase;
  color: var(--color-grey-600);
}

.homepage h2 {
  width: 85%;
  font-size: 1.5rem !important;
  margin-bottom: 3.2rem;
  font-style: inherit;
  font-weight: 500;
  color: var(--color-grey-600);
  text-align: justify;
}

.bhome {
  color: var(--color-grey-50);
  background-color: var(--color-grey-700);
  font-size: 18px !important;
  text-decoration: none;
  padding: 7px 35px;
  border-radius: 10px;
  transition: all 0.6s ease;
}

.bhome:hover {
  background-color: var(--color-grey-600);
  transform: translateX(0.3px) scale(1);
}
/* استایل‌های چت باکس */
.chatBoxWrapper {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.chatBoxButton {
  background-color: var(--color-grey-600); /* رنگ پس‌زمینه دکمه */
  padding: 5px; /* پدینگ برای افزایش سایز دکمه */
  border-radius: 50%; /* گوشه‌های گرد دکمه */
  box-shadow: -1px 1px 10px var(--color-grey-200); /* سایه اطراف دکمه */
  cursor: pointer; /* نشانگر موس هنگام hover */
  transition: all 0.3s ease; /* انیمیشن برای تغییرات */
  display: flex; /* استفاده از flexbox برای چینش آیکون */
  justify-content: center; /* مرکز چینش افقی آیکون */
  align-items: center; /* مرکز چینش عمودی آیکون */
  width: 50px; /* عرض دکمه */
  height: 50px; /* ارتفاع دکمه */
  border: none;
}

.chatBoxButton:hover {
  background-color: var(--color-grey-800); /* تغییر رنگ دکمه هنگام hover */
  color: var(--color-grey-500); /* تغییر رنگ متن و آیکون به سفید */
}

.chatBoxButton svg {
  font-size: 2.5rem; /* اندازه آیکون */
  color: var(--color-grey-50); /* رنگ آیکون */
}

/* پنجره چت */
.chatBox {
  box-shadow: 1px -1px 5px var(--color-grey-300),
    -1px 1px 5px var(--color-grey-300);
  position: absolute;
  bottom: 60px;
  left: 0;
  background-image: linear-gradient(
    to right,
    var(--color-grey-50),
    var(--color-grey-100)
  );
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  display: block; /* فقط زمانی که وضعیت showChatBox true است، نمایش داده می‌شود */
}

/* لیست پیام‌ها */
.chatBoxMessageList {
  height: 260px;
  overflow-y: auto;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--color-grey-300);
  width: 100%;
  padding: 5px;
  font-size: 14px;
  color: var(--color-grey-700);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100 !important;
}

.chatBoxMessage {
  margin-bottom: 10px;
}

.chatBoxMessage strong {
  font-weight: bold;
}

/* ورودی پیام */
.chatBoxInput {
  /* width: 100%; */
  color: var(--color-grey-900) !important;
  border-radius: 4px;
  background-image: linear-gradient(
    to right,
    var(--color-grey-50),
    var(--color-grey-200)
  );
  border: 1px solid var(--color-grey-300) !important;
  font-size: 14px !important;
}

/* دکمه ارسال پیام */
.chatBoxSubmitButton {
  background-color: var(--color-grey-100) !important;
  color: var(--color-grey-500) !important;
  /* border: 1px solid var(--color-btn-text) !important; */
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  /* margin-top: 10px; */
}

.chatBoxSubmitButton:hover {
  background-color: var(--color-grey-500);
  color: var(--color-grey-500);
}

/* استایل ستاره‌ها */
.chatBoxStarRating {
  text-align: center !important;
  display: flex;
  align-items: center !important;
  border-radius: 7px;
  /* border: 1px solid var(--color-grey-400); */
  max-height: 40px;
  margin-top: 10px;
  justify-content: space-around;
  gap: 2px;
}
.chatBoxStarRating span {
  cursor: pointer;
  font-size: 17px;
  font-family: "Dancing Script";
  color: var(--color-yellow-7001);
  font-family: "Dancing Script", cursive;
}
.star {
  font-family: "Dancing Script", cursive;
  padding: 0px 12px;
  border-radius: 5px;
  margin-top: 12px;
}

.chatBoxStarRating span:hover {
  color: var(
    --color-yellow-7001
  ) !important; /* رنگ طلایی برای ستاره هنگام hover */
}

.chatBoxStarRating span.selected {
  color: var(
    --color-yellow-7001
  ) !important; /* رنگ طلایی برای ستاره انتخاب شده */
}

.chatBoxSubmitButton:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-btn-hover);
}

.chatInputWrapper {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  justify-items: center !important;
  gap: 8px;
  /* width: 100%; */
}

/* استایل آیکون ارسال */
.sendIcon {
  color: var(--color-grey-100); /* رنگ آبی شبیه به تلگرام */
  font-size: 2.5rem; /* اندازه بزرگ‌تر */
  transition: transform 0.3s ease;
  border-radius: 4px;
  background-image: linear-gradient(
    var(--color-grey-500),
    var(--color-grey-700)
  );
  padding: 2px;
  margin-top: -8px;
}

.sendIcon:hover {
  transform: scale(1.041); /* بزرگ‌تر شدن هنگام هاور */
  color: var(--color-grey-0) !important; /* رنگ آبی شبیه به تلگرام */
  background-image: linear-gradient(
    var(--color-grey-600),
    var(--color-grey-800)
  );
}

.chatBoxSendButton {
  display: flex;
  border: none;
  border-radius: 5px; /* تنظیم گوشه‌ها */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.chatBoxSubmitButtonRating {
  border: none;
  margin-top: 10px;
  border-radius: 7px; /* گوشه‌های گرد */
  padding: 5px 17px;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  transition: background-color 0.7s ease, transform 0.7s ease; /* افکت هاور */

  background-image: linear-gradient(
    to left,
    var(--color-yellow-7001),
    var(--color-grey-700)
  );
  font-weight: 600;
  color: var(--color-grey-50) !important; /* رنگ آبی شبیه به تلگرام */
}

.chatBoxSubmitButtonRating:hover {
  background-image: linear-gradient(
    to left,
    var(--color-yellow-7001),
    var(--color-grey-900)
  );
  color: var(--color-grey-50) !important; /* رنگ آبی شبیه به تلگرام */
}
