.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 35px !important;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.heder {
  font-size: 2rem;
  text-align: left !important;
  color: var(--color-btn-hover);
  border-bottom: 1px solid var(--color-btn-hover);
  width: max-content;
  margin-left: 20px;
  margin-bottom: 15px;
}

.property {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-0) !important;
  box-shadow: 0px 0px 3px var(--color-grey-400);
  border-radius: 8px;
  margin-bottom: 15px;
  height: 500px;
  max-height: 500px;
}
.property.selected {
  background-color: var(--color-grey-100) !important;
  transition: all 0.4s ease;
  box-shadow: -1px 1px 5px var(--color-grey-300),
    1px -1px 5px var(--color-grey-300);
}

.part_1 {
  display: flex;
  flex-direction: column;
}

.emptyCartMessagecontainer {
  display: flex;

  justify-content: center;
  align-items: center;
  justify-items: center;
}
.emptyCartMessage {
  background-image: linear-gradient(
    var(--color-btn-main),
    var(--color-btn-darkblue)
  );
  color: var(--color-bg--2);
  padding: 15px 38px;
  border: none;
  margin-top: 40px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  margin-bottom: 230px;
  cursor: pointer;
  margin-left: 30px;
}

.emptycart1 {
  background-color: var(--color-green-main);
  padding: 10px;
}
.removebutton {
  background-color: var(--color-grey-100);
  color: var(--color-btn-rose);
  border: 1px solid var(--color-btn-rose);
  padding: 6px 10px;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
.removebutton:hover {
  background-color: var(--color-btn-rose_hover) !important;
  color: var(--color-bg--2);
  border: none;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 0px;
  justify-content: center;
}
.backbutton {
  font-size: 1.3rem;
  background-color: var(--color-grey-100);
  color: var(--color-btn-hover);
  border: 1px solid var(--color-btn-hover);
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
.backbutton:hover {
  background-color: var(--color-btn-main) !important;
  color: var(--color-bg--2);
  border: none;
}

.mainproperty {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 15px;
}
.part_1 h2 {
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 20px;
  padding: 5px;
  color: var(--color-grey-900) !important;
  font-weight: bold;
}
.part_2 {
  font-size: 1.3rem;
  text-align: left;
  padding: 5px;
  color: var(--color-grey-600) !important;
  line-height: 25px;
}

.part_2 label {
  color: var(--color-grey-700) !important;
}
.part_3 {
  flex: 1;
  display: flex; /* استفاده از فلکس برای مرکز کردن تصویر */
  justify-content: center; /* مرکز کردن افقی تصویر */
  align-items: center; /* مرکز کردن عمودی تصویر */
}

.part_3 img {
  box-shadow: -1px 1px 3px var(--color-grey-200),
    1px -1px 3px var(--color-grey-200);
  width: 100%;
  height: 200px; /* تنظیم ارتفاع تصاویر */
  object-fit: cover; /* تناسب تصویر بدون بریدگی */
  border-radius: 5px;
}

.btvtotal {
  border-radius: 7px;
  font-size: 1.2rem; /* کوچک کردن اندازه فونت دکمه‌ها */
  font-family: "Times New Roman", Times, serif;
  margin: 0px; /* تنظیم حاشیه */
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* کاهش زمان انتقال */
  padding: 7px 10px;
  background-image: linear-gradient(
    to right,
    var(--color-grey-300),
    var(--color-grey-50)
  );
  color: var(--color-grey-800);
  font-weight: 400;
  border: 1px solid var(--color-grey-300);
  font-family: "Times New Roman", Times, serif;
}
.btv {
  border-radius: 7px;
  font-size: 1.2rem; /* کوچک کردن اندازه فونت دکمه‌ها */
  font-family: "Times New Roman", Times, serif;
  margin: 0px; /* تنظیم حاشیه */
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* کاهش زمان انتقال */
  padding: 7px 10px;
  background-image: linear-gradient(
    to right,
    var(--color-grey-300),
    var(--color-grey-50)
  );
  color: var(--color-grey-800);
  font-weight: 400;
  border: 1px solid var(--color-grey-300);
  font-family: "Times New Roman", Times, serif;
}

.btvpay {
  border-radius: 7px;
  font-size: 1.2rem; /* کوچک کردن اندازه فونت دکمه‌ها */
  font-family: "Times New Roman", Times, serif;
  margin: 0px; /* تنظیم حاشیه */
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* کاهش زمان انتقال */
  padding: 7px 10px;
  background-image: linear-gradient(
    to right,
    var(--color-btn-hover),
    var(--color-btn-text)
  );
  color: var(--color-bg--2);
  font-weight: 400;
  border: 1px solid var(--color-grey-400);
  font-family: "Times New Roman", Times, serif;
}
.btvpay_1 {
  border-radius: 7px;
  font-size: 1.2rem; /* کوچک کردن اندازه فونت دکمه‌ها */
  font-family: "Times New Roman", Times, serif;
  margin: 0px; /* تنظیم حاشیه */
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* کاهش زمان انتقال */
  padding: 7px 10px;
  background-image: linear-gradient(
    to right,
    var(--color-btn-hover),
    var(--color-btn-darkblue)
  );
  color: var(--color-bg--2);
  font-weight: 400;
  border: 1px solid var(--color-grey-400);
  font-family: "Times New Roman", Times, serif;
  cursor: pointer !important;
}

.btvpay_1:hover {
  background-image: linear-gradient(
    to right,
    var(--color-btn-hover),
    var(--color-btn-text)
  );
  color: var(--color-bg--2);
  border: none;
}
.btvpayselected {
  border-radius: 7px;
  font-size: 1.2rem; /* کوچک کردن اندازه فونت دکمه‌ها */
  font-family: "Times New Roman", Times, serif;
  margin: 0px; /* تنظیم حاشیه */
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* کاهش زمان انتقال */
  padding: 7px 10px;
  background-image: linear-gradient(
    to right,
    var(--color-btn-hover),
    var(--color-btn-darkblue)
  );
  color: var(--color-bg--2);
  font-weight: 400;
  border: 1px solid var(--color-grey-400);
  font-family: "Times New Roman", Times, serif;
  cursor: pointer !important;
}

.btvpayselected:hover {
  background-image: linear-gradient(
    to right,
    var(--color-btn-hover),
    var(--color-btn-text)
  );
  color: var(--color-bg--2);
  border: none;
}
.pay_1,
.pay_2 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;

  padding: 5px;
  border-radius: 10px;
}
.btvpay {
  background-color: var(--color-bg--2);
  color: var(--color-green-hover);
  cursor: pointer;
  border: 1px solid var(--color-btn-hover);
}
.btv:hover {
  background-color: rgba(22, 78, 99, 0.7);
}
.clear {
  font-size: 16px;
  color: var(--color-btn-rose_hover);
  border: 1px solid var(--color-btn-rose_hover);
  background-color: var(--color-bg--2);
  padding: 1rem 2rem;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
.clear:hover {
  background-color: var(--color-btn-rose_hover) !important;
  color: var(--color-bg--2);
}
.checkbox {
  display: none; /* چک باکس اصلی پنهان شده است */
}

.checkbox + label {
  position: relative;
  padding-left: 20px; /* فاصله برای چک باکس سفارشی */
  cursor: pointer;
  color: var(--color-grey-900) !important;
  font-weight: bold;
}

.checkinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100% !important;
}
/* چک باکس سفارشی */
.checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-grey-500) !important; /* رنگ مرز چک باکس */
  border-radius: 4px; /* گرد کردن گوشه‌های چک باکس */
  background-color: var(--color-grey-100); /* رنگ پس‌زمینه */
  transition: background-color 0.2s, border-color 0.2s;
}

/* تغییر استایل در صورت انتخاب */
.checkbox:checked + label:before {
  background-color: var(
    --color-grey-500
  ) !important; /* رنگ پس‌زمینه در حالت انتخاب */
}

.checkbox:checked + label:before::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 10%;
  width: 50%;
  height: 30%;
  border: solid var(--color-bg--2); /* رنگ علامت تیک */
  border-width: 0 2px 2px 0; /* شکل تیک */
  transform: rotate(45deg);
}

.checkboxLabel {
  cursor: pointer; /* تغییر مکان نما برای چک باکس */
}

.totaldescuss {
  border-top: 1px solid var(--color-grey-300);
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  align-items: center;
  margin-bottom: 50px;
}

.discuss {
  flex: 0 0 55%;
  font-size: 13px;
  color: var(--color-grey-500);
  font-weight: 100 !important;
  border-right: 1px solid var(--color-grey-300);
}
.discuss h2 {
  color: var(--color-grey-600);
  margin-bottom: 15px;
}

.paiedButton {
  flex: 1;
  justify-items: left;
  margin-left: 50px;
}

.totalprice {
  font-size: 13px;
  margin: 19px 0px;
  margin-bottom: 10px;
  /* padding: 3px !important; */
  font-weight: 600;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    var(--color-grey-200),
    var(--color-grey-300)
  );
  color: var(--color-grey-900) !important;
  border: 1px solid var(--color-grey-300) !important;
  text-align: center;
  align-content: center !important;
  justify-content: center !important;
  justify-items: center !important;
  width: 85%;
}

.number {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  color: var(--color-silver-700) !important;
  font-weight: 600;
  line-height: 1.2;
}

.span2 {
  color: var(--color-grey-900) !important;
  font-weight: 600;
}
.span1 {
  color: var(--color-grey-500) !important;
}

.button2 {
  display: flex;
  gap: 10px;
}

.iconLink {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.icon {
  background-color: var(--color-red-bright);
  color: var(--color-bg--2);
  transition: color 0.3s ease;
}

.cartIcon {
  border-radius: 20%;
  padding: 8px;
}
.checkbox {
  margin-top: 10px;
  margin-left: 100px !important;
}
.checkboxLabel {
  margin-left: 10px;
  font-weight: bold !important;
}
