/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  --color-blue-100: #e0f2fe;
  --color-blue-700: #0369a1;
  --color-green-100: #dcfce7;
  --color-green-700: #15803d;
  --color-yellow-100: #fef9c3;
  --color-yellow-700: #a16207;
  --color-silver-100: #e5e7eb;
  --color-silver-700: #374151;
  --color-indigo-100: #e0e7ff;
  --color-indigo-700: #4338ca;

  --color-red-100: #fee2e2;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-btn-main: #00bcd4; /*rgba(0, 188, 212)*/
  --color-btn-hover: #00bcd4; /* rgba(0, 151, 167)*/
  --color-btn-darkblue: #007c92; /* rgba(0,124,146)*/

  --backdrop-color: rgba(255, 255, 255, 0.1);
  --color-btn-text: #164e63; /* rgba(22,	78,	99)*/
  --color-btn-darkest: #083344; /* rgba(	8	,51,	68)*/

  --color-btn-rose: #f43f5e;
  --color-btn-rose_hover: #f43f5e; /* rgba(	244	,63,	94)*/
  --color-btn-light_rose: #fecaca;
  --color-btn-light_rose1: #fee2e2;
  --color-btn-rose_hover1: #7f1d1d;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --color-green-main: #2dd4bf;
  --color-green-hover: #0d9488;
  --color-bg--2: #ffffff;
  --image-grayscale: 0;
  --image-opacity: 100%;
  --color-yellow-7001: #f43f5e;
  --color-yellow-7002: #c2410c;

  /* --color-red-bright: #ff4c4c; */
  --color-red-bright: #ff3333;
}

.dark-mode {
  --color-yellow-7002: #fb923c;
  --color-yellow-7001: #fef9c3;
  /* --color-grey-0: #18212f;
  --color-grey-50: #111827;
  --color-grey-100: #1f2937;
  --color-grey-200: #374151;
  --color-grey-300: #4b5563;
  --color-grey-400: #6b7280;
  --color-grey-500: #9ca3af;
  --color-grey-600: #d1d5db;
  --color-grey-700: #e5e7eb;
  --color-grey-800: #f3f4f6;
  --color-grey-900: #f9fafb; */
  --color-grey-0: #2f3541;

  --color-grey-50: #333844;
  --color-grey-100: #4a505b;
  --color-grey-200: #666a75;
  --color-grey-300: #81848f;
  --color-grey-400: #9da0a8;
  --color-grey-500: #c5c8cc;
  --color-grey-600: #e4e6e8;
  --color-grey-700: #f1f2f4;
  --color-grey-800: #fafbfc;
  --color-grey-900: #fcfcfd;

  /* --color-grey-0: #4b515d;
  --color-grey-50: #434954;
  --color-grey-100: #5c616b;
  --color-grey-200: #777b84;
  --color-grey-300: #92959d;
  --color-grey-400: #afb2b8;
  --color-grey-500: #d3d5d8;
  --color-grey-600: #eceef0;
  --color-grey-700: #f5f6f7;
  --color-grey-800: #fcfcfd;
  --color-grey-900: #fefefe; */

  --color-blue-100: #075985;
  --color-blue-700: #e0f2fe;
  --color-green-100: #166534;
  --color-green-700: #dcfce7;
  --color-yellow-100: #854d0e;
  --color-yellow-700: #fef9c3;
  --color-silver-100: #374151;
  --color-silver-700: #f3f4f6;
  --color-indigo-100: #3730a3;
  --color-indigo-700: #e0e7ff;

  --color-red-100: #fee2e2;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  --backdrop-color: rgba(0, 0, 0, 0.3);

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.3);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.4);

  --image-grayscale: 10%;
  --image-opacity: 90%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-bg--1);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-btn-main);
  color: #020617;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.9rem;
  font-weight: 600;

  padding: 1.5rem 4rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.cta:hover {
  background-color: var(--color-btn-hover);
}
